---
import "public/facebook_logo.svg"
import"public/fb_icon_.png"
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="./public/fb_icon_.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Facebook</title>
	</head>
	<body class="bg-bg-facebook flex items-center justify-center">
		<main>
			<section class="flex justify-center items-center w-[61.25rem] h-[32.25rem] mt-[3.75rem]">
				<!--Facebook branding-->
				<div class="flex flex-col justify-start w-[36.25rem] h-[18.6rem]">
					<img class="w-[18.75rem] mt-[5.25rem] -ml-[1.75rem]" src="./public/facebook_logo.svg" alt="Facebook">
					<div class="w-[31.25rem]">
						<p class="font-normal text-[1.75rem] text-start leading-[2rem]">
							O Facebook ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.
						</p>
					</div>
				<!--Facebook forms-->
				</div>
				<div class="flex flex-col items-center justify-center w-[24.75rem] h-[31rem] pt-[1.25rem]">
					<div class="bg-white h-[24.75rem] w-[21.8rem] p-[1rem] rounded-[0.50rem] shadow-lg">
						<form action="" class="">
							<input class="w-[]" type="email" name="" id="">
							<input class="" type="password" name="" id="">
						</form>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
